<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <title>{{title}}</title>

    <script language="JavaScript">
        function send(form){
        }
    </script>

</head>
<body>
    <div id="container">
        <form id="form" name="form" action="/"" method="post"><center>
        <div id="logo">{{title}}</div>
        <div id="space"></div>
        <div id="form">
        <label for="fname">Insira seu nome:</label>
        <input name="name" id="name" type="text" />
        <input name="buttonExecute" onclick="send('name').value)" type="button" value="enviar" />
        <button name="vote" value="reset" onclick="send()" class="button button3">Mostrar Nome</button>
        <div id="space"></div>
        <div id="space"></div>
        <div id="results"> {{ value1 }}  </div> 
        </form>        
        </div>
    </div>     
</body>
</html>
